
/* UNIVERSAL STYLING */

body {
    font-family: 'Montserrat', sans-serif;
    font-stretch: semi-expanded;
    letter-spacing: 3px;
    text-align: center;
    background-image: url(assets/Background_smooth.png);
}
h1 {
    letter-spacing: 3px;
    color: white;
}
em {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

/* NAV STYLING */

.logo {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}
.nav-link {
    color:#6d81b6;
}
.nav-link:hover {
    color:#333;
    /* width: 110%;
    border-radius: 20px;
    background-color: #6d81b6; */
}
.nav-link:active {
    color: #333333;
}

/* HOME PAGE STYLING */

.jumbotron {
    height: 65vh;
    margin-bottom: 0;
    position: relative;
    background-color: transparent;
    background-image: url(assets/Cards.png);
    background-size: cover;
        -webkit-background-size: cover;    
        -moz-background-size: cover;   
        -ms-background-size: cover;   
        -o-background-size: cover;  
}
.arrow {
    width: 80px;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    bottom: -40px;
    position: absolute;
}
#about {
    width: 100%;
    padding: 100px;
    background-color: white;
    text-align: center;
    /* scroll-behavior: smooth; */
}
.mePic {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* USED ON PORTFOLIO AND CONTACT PAGES */

.mainContainer {
    padding-top: 70px;
    padding-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

/* PORFOLIO PAGE STYLING */

.portfolioImages {
    margin-bottom: 30px;
}

/* CONTACT PAGE STYLING */

.formContainer {
    padding-top: 70px;
    padding-bottom: 70px;
    /* margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(255, 255, 255, .5); */
}
.formText {
    text-align: center;
}

/* FOOTER STYLING */

.footerCustom {
    background-color: rgba(109, 129, 182, .1);
}